//colors
$light-black: #20222b;
$light-purp: #a5afd7;
$dark-back: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$button-purple: #8357c5;

//sizings
$large: 3.2rem;
$medium: 1.6rem;
$xlarge: 4.8rem;
$smol: .4rem;